:root {
  --font-primary: "JetBrains Mono", sans-serif;

  --gray-100: rgb(230, 229, 234);
  --gray-200: rgb(128, 124, 146);
  --gray-300: rgb(36, 35, 34);
  --gray-400: rgb(24, 23, 31);
  --gray-500: #18171f;

  --green: rgb(164, 255, 175);
  --red: rgb(246, 74, 74);
  --orange: rgb(254, 124, 88);
  --yellow: rgb(248, 205, 101);
}
