.form {
  width: 33.75rem;
  min-width: 21.44rem;
  .title {
    color: var(--gray-200);
    text-align: center;
    font-size: 1.5rem;
  }
  .form-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--gray-300);
    padding: 1rem 2rem;
    margin-top: 2rem;
    .password {
      opacity: 0.25;
    }
  }
  .form-main {
    background-color: var(--gray-300);
    padding: 2rem;
    margin-top: 1rem;
    .form-checkbox {
      font-size: 1.13rem;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      margin: 2rem 0 0 0;
      div {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }

    .form-character {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      span {
        font-size: 1.5rem;
        font-size: clamp(
          1.5rem,
          0.36363636363636354rem + 4.848484848484849vw,
          2rem
        );
        color: var(--green);
      }
    }
  }
  .form-footer {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-300);
    gap: 1rem;
    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--green);
      border: none;
      padding: 1rem;
      &:hover {
        cursor: pointer;
        border: 2px solid var(--green);
        background-color: var(--gray-300);
        color: var(--green);
        svg {
          color: var(--green);
        }
      }

      p {
        padding-right: 1.5rem;
      }
    }
    .strength-div {
      display: flex;
      justify-content: space-between;
      background-color: var(--gray-400);
      margin: 2rem;
      padding: 1rem;
      align-items: center;
      div:first-child {
        display: flex;
        gap: 1rem;
      }
      p {
        color: var(--gray-200);
        text-transform: uppercase;
      }
      .bar-div {
        display: flex;
        gap: 0.53rem;
        .bar {
          border: 1px solid white;
          width: 10px;
          height: 28px;
        }
      }
      .strength {
        font-size: 1.125rem;
        font-size: clamp(
          1.125rem,
          0.2727272727272728rem + 3.6363636363636362vw,
          1.5rem
        );
        font-weight: 700;
        text-transform: uppercase;
      }
    }
    .btn {
      margin: 0 2rem 2rem 2rem;
      p {
        text-transform: uppercase;
      }
    }
  }
}

@media (max-width: 650px) {
  main {
    height: auto;
    .container {
      margin-top: 4rem;
    }
  }
  .form {
    width: auto;
    margin-top: 2rem;
    .form-main {
      padding: 1rem;
    }
    .form-header {
      padding: 1rem;
    }
    .form-footer {
      .strength-div {
        margin: 1rem;
      }
      .btn {
        margin: 0 1rem 1rem;
      }
    }
  }
}
